:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

body {
    text-align: center;
    background-image: url("media/tile.jpg");
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;

}

.formBg {
    width: 60%;
    height: 120px;
    margin: 0 auto;
    position: relative;
    background-size: 50%;
    background-repeat: repeat;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    /* transform: translate(-50%, -50%); */
}

.inputsContainer {
    background-image: url("media/formbg.jpg");
    width: 700px;
    height: 160px;
    position: absolute;
    left: 200px;
}

.noteText, #noteText {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.date, .time {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#notes {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    float: left; */
    margin-top: 200px;
    margin-left: 10px;
    height: 350px;
}

#noteText {
   width: 90%;
   height: 35%;
   font-size: 20px;
   background: transparent;
   color: #000;
   border: 0;
   margin-left: 70px;
   margin-top: 10px;
}

#noteText:focus {
    background: transparent;
    border: none;
    outline: none;
    color: #000;
}

/*Styles for the note img*/
.note {
    display: block;
    position: relative;
    width: 250px;
    height: 300px;
    background-image: url("media/notebg.png");
    background-size: cover;
    animation: fadeIn 1s;
    
}

/*Styles for text in the note*/
.note > .noteText {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
}

/*Styles for date and time in note*/
.note > .date {
    box-sizing: border-box;
    box-shadow: inset 0px 0px 100px 5px rgb(255, 236, 112);
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.note > .time {
    box-sizing: border-box;
    box-shadow: inset 0px 0px 100px 5px rgb(255, 236, 112);
    position: absolute;
    bottom: 10px;
    left: 10px;
    
}

.note > .textWrap {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 200px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:start;
    box-sizing: border-box;
    padding: 5px;
}

.deleteNote {
    display: none;
    position: absolute;
    top: 15px;
    right: 35px;
    background: transparent;
    border: none;
}
.deleteNote:hover {
    cursor: pointer;
    border-radius: 20%;
    background-color: rgb(255, 236, 112);
}

.note:hover > .deleteNote {
    display: inline;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

input, button {
    margin-top: 10px;
}

input:focus, button:focus {
    border: none;
}
